
<ion-header>
  <app-toolbar></app-toolbar>
  <ion-toolbar>
    <ion-title>Historial</ion-title>
    <!-- Este es un boton para agregar cosas (act) -->
  </ion-toolbar>
</ion-header>
<ion-searchbar></ion-searchbar>

<ion-content>

  <!-- este for lo que esta haciendo  es itera sobre un array por cada 'items' y hace tracking por item.id -->
  @for (item of items; track item.id) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ item.title }}</ion-card-title>
        <ion-card-subtitle>{{ item.category }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <!-- Muestra el precio del item -->
        <p>Precio: ${{ item.price }}</p>
        <!-- Muestra el rating y número de reviews -->
        <p>Rating: {{ item.rating.rate }} ({{ item.rating.count }} reviews)</p>
      </ion-card-content>
    </ion-card>
  }

</ion-content>
<!-- Botón de inicio con loading -->
<ion-button id="open-loading" (click)="openModal()"routerLink="/home">Inicio</ion-button>
<!-- Componente de loading personalizado  y que dure el indicador de carga 1 segundo-->
<ion-loading class="custom-loading" trigger="open-loading" message="Loading..." [duration]="1000"></ion-loading>
<app-footer></app-footer>
